/**
* @titl Addition Utility Classes
* @desc These classes provide additional style modifications.
*/

//Margin neutralizers
.top-mar-0{
    margin-top: 0;
}

.bottom-mar-0{
    margin-bottom: 0;
}

.left-mar-0{
    margin-left: 0;
}

.right-mar-0{
    margin-right: 0;
}


//colors
.prm-color{
    color: $prm-color;
}